<h1>Mensagens:</h1>
<% @all_messages.each do |message| %>
    <p>----------------</p>
    <p><%= message.title %></p>
    <p><%= message.message %></p>
    
    <h4>Enviado para:</h4>
    <% message.contacts.each do |contact| %>
        <p><%= contact.first_name %> <%= contact.last_name %></p>
    <% end %>
    
<% end %>


