<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Iae, <%= @new_contact.first_name %></h1>
    <p>Você foi adicionado como um contato por <%=@user_full_name%></p>
    <p>Para receber seus wuphs pelo telegram, mande a mensagem "Start" para @WUPHF_Pretty_Bot.</p>
    <p>Para permitir o recebimento de WUPHFs, clique no botão abaixo</p>
    <button href="<%=@allow_wuphf%>">Receber WUPHFs</button>
    <p>Ou use o seguinte link: <%=@allow_wuphf%></p>
    <p>Valeu!!!</p>
  </body>
</html>