<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @message['title'].capitalize %></h1>
    <p><%= @message['message'] %></p>
  </body>
</html>