@import 'global';

.default-input {
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
  border: 0;
  background-color: rgba(255,120,31,.3);
  outline: none;
  margin: 10px 0;
}

.default-input-2 {
  border: 0;
  outline: none;
  color: $primary-color;
}

.default-btt {
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
  border: 0;
  background-color: $primary-color;
  outline: none;
  margin: 10px 0;
  color: $bg;
  box-shadow: rgba(0,0,0,.3) 0px 5px 10px;
}

.default-btt:hover {
  cursor: pointer;
}

.default-body {
  background-color: $bg;
}

.default-table {
  //border: solid 2px $primary-color;
  border-radius: 5px;
}

.default-table td, .default-table th {
  padding: 8px;
  max-width: 200px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.default-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary-color;
  color: $bg;
}
