@import 'global';

.messages-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messages-table {
  width: 100%;
}

.messages-div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 15px;
    color: $primary-color;
  }
}

.new-message-title {
  background-color: transparent;
  font-size: 22px;
  font-weight: bolder;
  margin: 20px 0;
  border-bottom: solid 3px $primary-color;
  width: 50%;
  padding: 10px;
}

.new-message-text {
  background-color: transparent;
  font-weight: 300;
  width: 50%;
  height: 200px;
  border-bottom: solid 3px $primary-color;
  padding: 10px;
}

.new-message-contacts-table {
  width: calc(50% + 20px);
  margin-top: 20px;
}