@import 'global';

.messages-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-messages-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messages-table {
  width: 100%;
}

.messages-div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 15px;
    color: $primary-color;
  }
}